<!-- <ngb-datepicker #dp [(ngModel)]="selectedDate" (dateSelect)="onDateSelected()"></ngb-datepicker>
<pre>Model: {{ selectedDate | json }}</pre> -->

<ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

<!-- <div class="jumbotron">
    <h1 class="display-3">{{apod.title}}</h1>
    <p class="lead">{{apod.date}}</p>
    <img *ngIf="apod.media_type === 'image'" [src]="apod.url" [alt]="apod.title" class="w-100 mx-auto">
    <youtube-player *ngIf="apod.media_type === 'video'" [videoId]="getVideoID(apod.url)" class="mx-auto"></youtube-player>
    <hr class="my-2">
    <p>{{apod.explanation}}</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div> -->


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let apod of apodArray">
        <app-apod-card [apod]="apod"></app-apod-card>
    </div>
</div>
